@import "variables";
@import "mixins";

body {
  background-color: @main-background-color;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}


@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/page-main";
